   
       /* product card style */
#product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.product-card {
background-color: white;
padding: 0px;
border-radius: 10px;
box-shadow: 0 8px 15px rgba(165, 31, 8, 0);
transition: tranform 0.3s ease, box-shadow 0.3s ease;
cursor: pointer;
text-align: center;
height: 95%;
flex-direction: column;
width: 150%; 
}   
.product-card:hover{
    transform: translateY(-9X);
    box-shadow: 0 15PX 20PX rgb(31, 23, 2);
}
.product-card img{
width: 100%;
height: 100%px;
object-fit: cover;
background-size: cover;
}
.product-card h5 {
    
  font-size: 10px;
  margin-bottom: 5px;
}

.product-card p {
    line-height: 2; 
  font-size: 11px;
  font-weight: 500px;
  color: #555;
}





